.page {
  font-family: var(--font-red-hat-text);
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}

.page h1 {
  font-weight: 700;
  color: var(--color-rose-900);
  font-size: 2.2rem;
}

.productContainer {
  margin: 2rem 0;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(222px, 1fr));
  gap: 20px;
}
