.page {
  padding: 2rem;
  font-family: var(--font-red-hat-text);
}

.page p {
  color: red;
  font-family: var(--font-red-hat-text);
  font-weight: 600;
}

.page h1 {
  font-weight: 700;
  color: var(--color-rose-900);
  font-size: 2rem;
}
